* {
    margin: 0
    
  }
  
  .container {
    background-image: url("picture2.jpg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
      }
  
  .container h1 {
      padding: auto;
    color: rgb(12, 12, 11);
    font-family: 'Colonna MT';  
  }
  
  .registartion-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    color: rgba(248, 247, 247, 0.61);
    font-size: 18px;
    font-family: sans-serif;
    opacity: 1;
    background-color: #154a68a1;
    padding: 20px;
  }
  
  .registartion-form input,
  .registartion-form select,
  .registartion-form textarea {
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-family: sans-serif;
  }
  
  .registartion-form input:focus,
  .registartion-form textarea:focus {
    box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
  }
  
  .registartion-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: rgb(15, 15, 15);
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .registartion-form .submit:hover {
    box-shadow: 3px 3px 6px rgb(255, 214, 176);
  }